.DDrecepies {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.DDrecepiesWrapper {
    display: flex;
    flex-direction: row;
    margin-left: var(--padding-left);
    margin-right: var(--padding-right);
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.searchBar {
    
    width: 80%;
    max-width: 400px;
}
.searchInput {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 2px solid var(--purple);
    outline: none;
    transition: all 0.3s ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: 30px;

}