.recipiesWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.recipeFormWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: var(--black);
    max-width: 600px;
    
    padding: 20px;
    border-radius: 15px;

}

.recipeFormWrapper h2{
    color: var(--white);
}
.recipeFormWrapper .formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

}
.recipeFormWrapper .recipeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.recipeFormWrapper input {
    all: unset;
    width: 300px;
    background-color: var(--black);
    border: 2px solid var(--purple);
    padding: 10px;
    border-radius: 10px;
    color: var(--white);
    font-size: 16px;
}

.recipeFormWrapper textarea {
    width: 300px;
    background-color: var(--black);
    border: 2px solid var(--purple);
    padding: 10px;
    border-radius: 10px;
    color: var(--white);
    resize: vertical;
    font-size: 16px;
}
.recipeBoxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 50px;
}